[submodule "kvmpp"]
	path = kvmpp
	url = https://github.com/tomwimmenhove/kvmpp/
[submodule "rpcbuf"]
	path = rpcbuf
	url = https://github.com/tomwimmenhove/rpcbuf
[submodule "newlib"]
	path = newlib
	url = https://github.com/tomwimmenhove/newlib
